<html>
    <head>
        <meta charset="utf-8">
        <title>在线聊天室</title>
    </head>
    <body>
        <h1 class="chat-center">在线聊天室</h1>
        <form class="pure-form chat-center" action="{{ url_for('.enter') }}" method="POST">
            <input type=text name="name" placeholder="昵称">
            <button class="pure-button pure-button-primary">进入聊天室</button>
        </form>
    </body>
    <link href="{{ url_for('static', filename='chat.css')  }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pure.css')  }}" rel="stylesheet">
</html>
